modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=19130 BASE_PATH=/ pnpm --filter @workspace/lumiere run dev"
waitForPort = 19130

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 8083
externalPort = 3002

[[ports]]
localPort = 19130
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
GOOGLE_REDIRECT_URI = "https://55f9a1d6-ad67-451a-9966-87fdbd327182-00-1o57312fg87uu.pike.replit.dev/api/auth/google/callback"
GOOGLE_CLIENT_ID = "99270546854-67kuibqq74ergbibv13lvjgf1siv90ss.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET = "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"
